.center{
  max-width: 1120px;
  min-width: 250px;
  width: 100%;
  min-height: 35px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}
a{
  text-decoration: none;
  color: white;
}
.clear{
  clear: both;
}
.wrapper{
  width: 100%;
  background: white;
  font-family: OpenSans;
  header{
    .burger-nav{
      min-height: 40px;
      background: #0c1923;
      display: none;
      .search-item{
        float: left;
        height: 40px;
        width: 190px;
        border-radius: 4px;
        background: white;
        margin: 5px 0;

        input{
          border: none;
          outline: none;
          &[type='text']{
            width: 72%;
            background: transparent;
            font-size: 1.6em;
            font-family: OpenSans-Light;
            margin: 9px 0 9px 15px;
            padding: 0;
            &::-webkit-input-placeholder {color: #779dc1;}
            &:-ms-input-placeholder      {color: #779dc1;}
          }
          &[type='submit']{
            background: url("../assets/img/search-icon.png") no-repeat;
            width: 21px;
            height: 21px;
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }
      .burger-menu {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        float: right;
        .burger {
          position: absolute;
          background: white;
          width: 70%;
          height: 5px;
          top: 55%;
          right: 10px;
          margin-top: -5px;
          opacity: 1;
          &:before {
            position: absolute;
            background: white;
            width: 35px;
            height: 5px;
            top: 12px;
            content: "";
            display: block;
          }
          &:after {
            position: absolute;
            background: white;
            width: 35px;
            height: 5px;
            bottom: 12px;
            content: "";
            display: block;
          }
        }
      }
      .burger::after, .burger::before, .burger {
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
      }
      .burger-menu.menu-on .burger::after{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        bottom: 0px;
      }
      .burger-menu.menu-on .burger::before{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        top: 0px;
      }
      .burger-menu.menu-on .burger{
        background: rgba(111,111,111,.0);
      }
      /* useless css */
      .burger-menu {
        margin-left:auto;
        margin-right: auto;
      }
      nav{
        display: none;
      }
    }
    .top-line{
      background: #154ca1;
      .phone-item{
        font-family: OpenSans-Semibold;
        font-size: 1.6em;
        display: inline-block;
        margin: 33px 0 35px 0;
        float: left;
        &:first-child{
          margin-left: 15%;
        }
        &:nth-child(2){
          margin-left: 23px;
        }
      }
      .search-item{
        float: right;
        height: 40px;
        width: 390px;
        border-radius: 4px;
        background: white;
        margin-top: 20px;

        input{
          border: none;
          outline: none;
          &[type='text']{
            width: 85%;
            background: transparent;
            font-size: 1.6em;
            font-family: OpenSans-Light;
            margin: 9px 0 9px 15px;
            padding: 0;
            &::-webkit-input-placeholder {color: #779dc1;}
            &:-ms-input-placeholder      {color: #779dc1;}
        }
          &[type='submit']{
            background: url("../assets/img/search-icon.png") no-repeat;
            width: 21px;
            height: 21px;
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .middle-line{
      height: 20px;
      background-color: white;
      .center{
        position: relative;
        .logo{
          position: absolute;
          display: block;
          background: url("../assets/img/logo.png") no-repeat;
          width: 141px;
          height: 153px;
          top: -85px;
          left: 0px;
        }
      }
    }
    .bottom-line{
      min-height: 20px;
      background-color: #779dc1;
      .center{
        nav{
          ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-left: 12%;
            li{
              list-style-type: none;
              margin: 0 10px;
              box-sizing: border-box;
              &:hover ul{
                display: block;
                li ul{
                  display: none;
                }
              }
              a{
                color: white;
                text-decoration: none;
                font-size: 1.6em;
                text-transform: uppercase;
                margin: 10px 0 5px 0;
                display: block;
                padding-bottom: 5px;
                border-bottom: 1px solid transparent;
                &:hover{
                  border-bottom: 1px solid white;
                }
              }
              position: relative;
              ul{
                display: none;
                position: absolute;
                left: -45px;
                li{
                  background: #e6e6e6;
                  background-clip: padding-box;
                  padding: 10px 0 10px 0;
                  opacity: 0.95;
                  width: 200px;
                  border-bottom: 1px solid transparent;
                  &:hover ul{
                    display: block;
                  }
                  a{
                    margin: 0;
                    padding: 0 10px 0 10px;
                    color: #777;
                    opacity: 1;
                    background: right url("../assets/img/arrow1.png") no-repeat !important;
                    &:hover{
                      border-bottom: 1px solid transparent;
                      color: #404040;
                    }
                  }
                  position: relative;
                  ul{
                    display: none;
                    position: absolute;
                    left: 165px;
                    top: 0;
                    li{
                      width: 290px;
                      a{
                        background-image: none !important;
                      }
                    }
                  }
                }
              }
              &:nth-child(2){
                a{
                  background: right url("../assets/img/arrow.png") no-repeat;
                  padding-right: 15px;
                }
              }
              &:nth-child(3){
                a{
                  background: right url("../assets/img/arrow.png") no-repeat;
                  padding-right: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  main{
    min-height: 50px;
    width: inherit;
    .main-slider{
      width: inherit;
      min-height: 350px;
      .slider-items{
        .slider-item{
          background: url("../assets/img/USA.png") no-repeat;
          width: 100%;
          height: 350px;
          background-size: cover;
          position: relative;
          .opacity-block{
            position: absolute;
            background: black;
            width: 100%;
            height: 350px;
            opacity: 0.5;
            z-index: 5;
          }
          .center{
            position: relative;
            z-index: 10;
            span{
              color: white;
              font-family: OpenSans-Semibold;
              display: block;
              text-transform: uppercase;
              width: 80%;
              &:first-child{
                font-size: 8em;
                padding-top: 70px;
              }
              &:nth-child(2){
                font-size: 2.7em;
                line-height: 1.5;
                padding-top: 25px;
              }
            }
            button{
              float: right;
              margin: 70px 0  35px 0;
              width: 260px;
              height: 40px;
              background: white;
              border: none;
              outline: none;
              font-size: 1.8em;
              color: #154ca1;
              text-transform: uppercase;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  footer{
    background-color: #154ca1;
    padding-top: 35px;
  .footer-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    span:first-child{
      display: block;
      max-width: 680px;
      min-width: 250px;
      width: 100%;
      font-size: 1.4em;
      color: white;
      padding-bottom: 20px;
    }
    .social-network-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 250px;
      padding-bottom: 30px;
      a{
        content: '';
        display: block;
        transition: background 0.5s;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
        &:first-child{
          background: #4d76a1 center center url("../assets/img/vk.png") no-repeat;
          &:hover{
            background: #486990 center center url("../assets/img/vk.png") no-repeat;
          }
        }
        &:nth-child(2){
          margin-left: 15px;
          background: #3b5998 center center url("../assets/img/fb.png") no-repeat;
        }
        &:hover{
          background: #344d85 center center url("../assets/img/fb.png") no-repeat;
        }
      }

    }
    .phone-item{
      .phone-number{
        a{
          font-size: 1.6em ;
          font-family: OpenSans-Semibold;
        }
        &:nth-child(2){
          margin-top: 25px;
        }
      }
    }
  }
    .info{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 35px 0 20px 0;
      span{
        font-size: 1.2em;
        color: white;
      }
    }
  }
}
