@media screen and (max-width: 768px){
  html{
    body{
      .wrapper{
        header{
          .burger-nav{
            display: block;
          }
          .top-line{
            .center{
              .phone-item{
                float: right;
                margin: 13px 0 13px 15%;
                display: block;
                width: 100%;
                text-align: right;
              }
              .search-item{
                display: none;
              }
            }
          }
          .bottom-line{
            .center{
              nav{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}